{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Tva</th>
                <th>Stock</th>
                <th>Reference</th>
                <th>Image_principale</th>
                <th>Date_creation</th>
                <th>Date_modification</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.slug }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.tva }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.imagePrincipale }}</td>
                <td>{{ produit.dateCreation ? produit.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.dateModification ? produit.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
