{% extends 'base.html.twig' %}

{% block title %}DetailsCommande index{% endblock %}

{% block body %}
    <h1>DetailsCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix_unitaire</th>
                <th>Tva</th>
                <th>Total_ligne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for details_commande in details_commandes %}
            <tr>
                <td>{{ details_commande.id }}</td>
                <td>{{ details_commande.quantite }}</td>
                <td>{{ details_commande.prixUnitaire }}</td>
                <td>{{ details_commande.tva }}</td>
                <td>{{ details_commande.totalLigne }}</td>
                <td>
                    <a href="{{ path('app_details_commande_show', {'id': details_commande.id}) }}">show</a>
                    <a href="{{ path('app_details_commande_edit', {'id': details_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_details_commande_new') }}">Create new</a>
{% endblock %}
